#red {
    color: red;
}

#blue {
    color: blue;
}

.pink-div {
    background-color: pink;
    border-style: solid;
    border-color: black;
}

.food-div {
    background-color: grey;
    border-style: solid;
    border-color: green;
}

